.categories-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.categories-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

