* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0;
    text-align: left;
}

form {
    margin: 0;
}


input, textarea {
    resize: none;
}
